<%= form_with model: [:admin, option] do |f| %>
  <% if option.errors.any? %>
    <ul>
      <% option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, 'オプション品名' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :group_name, 'グループ名（例：ケース、フィルム）' %>
    <%= f.text_field :group_name %>
  </div>

  <div>
    <%= f.label :price, '価格' %>
    <%= f.number_field :price %>
  </div>

  <%= f.submit %>
<% end %>