<%= form_with model: [:admin, device] do |f| %>
  <% if device.errors.any? %>
    <ul>
      <% device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, '機種名' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :group_name, 'グループ名（例：ハイエンド、スタンダード）' %>
    <%= f.text_field :group_name %>
  </div>

  <div>
    <%= f.label :maker_id, 'メーカー' %>
    <%= f.collection_select :maker_id, @makers, :id, :name, prompt: '選択してください' %>
  </div>

  <div>
    <%= f.label :release_date, '発売日' %>
    <%= f.date_field :release_date %>
  </div>

  <div>
    <%= f.label :price, '価格' %>
    <%= f.number_field :price %>
  </div>

  <%= f.submit @device.persisted? ? '更新する' : '登録する' %>
<% end %>