<%= form_with model: [:admin, plan] do |f| %>
  <% if plan.errors.any? %>
    <ul>
      <% plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, 'プラン名' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :group_name, 'グループ名（例：データプラン、音声通話プラン）' %>
    <%= f.text_field :group_name %>
  </div>

  <div>
  <%= f.label :plan_brand_ids, 'ブランド（複数選択可）' %>
    <%= f.collection_check_boxes :plan_brand_ids, @plan_brands, :id, :name do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.label :monthly_fee, '月額料金' %>
    <%= f.number_field :monthly_fee %>
  </div>

  <%= f.submit %>
<% end %>