<%= form_with model: [:admin, plan_category] do |f| %>
  <% if plan_category.errors.any? %>
    <ul>
      <% plan_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, 'カテゴリ名' %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit %>
<% end %>