<%= form_with model: [:admin, device_grade] do |f| %>
  <% if device_grade.errors.any? %>
    <ul>
      <% device_grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, 'グレード名' %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit %>
<% end %>