<%= form_with model: [:admin, subscription] do |f| %>
  <% if subscription.errors.any? %>
    <ul>
      <% subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, 'サービス名' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :group_name, 'グループ名（例：エンタメ、故障、パック）' %>
    <%= f.text_field :group_name %>
  </div>

  <div>
    <%= f.label :monthly_fee, '月額料金' %>
    <%= f.number_field :monthly_fee %>
  </div>

  <%= f.submit %>
<% end %>