<h1>サブスクリプション管理</h1>
<%= link_to '新規追加', new_admin_subscription_path %>

<table>
  <thead>
    <tr>
      <th>サービス名</th>
      <th>月額料金</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.name %></td>
        <td>¥<%= number_with_delimiter(subscription.monthly_fee) %></td>
        <td>
          <%= link_to '編集', edit_admin_subscription_path(subscription) %>
          <%= button_to '削除', admin_subscription_path(subscription), method: :delete,
              data: { turbo_confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>